:root {
  --fs-800: 60px;
  --fs-700: 30px;
  --fs-600: 20px;
  --fs-550: 18px;
  --fs-500: 15px;
  --fs-400: 12px;

  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  --ff-primary: "Poppins";
  --ff-secondary: "Roboto";

  --primary-clr: #000;
  --secondary-clr: #fff;
  --primary-clr-100: #00000000;
  --primary-clr-500: #00000080;
  --secondary-clr-500: #ffffff93;
  --accent: #ffd105;
  --accent-100: #ffd10549;
  --accent-900: #ffd105c0;

  --fs-header: var(--fs-800);
  --fs-subheader: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-btn: var(--fs-550s);
  --fs-body: var(--fs-500);

  --fw-header: var(--fw-800);
  --fw-subheader: var(--fw-700);
  --fw-nav: var(--fw-600);
  --fw-btn: var(--fw-500);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Lucida sans", sans-serif;
}
body {
  width: 100%;
  background: #000;
  color: #fff;
}
header {
  height: 100vh;
  width: 100vw;
}
.container {
  padding: 20px 40px;
  position: relative;
}
.container > h1 {
  text-align: center;
  padding-top: 80px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  color: var(--secondary-clr);
  text-decoration: none;
}
.logo {
  width: 140px;
  font-size: var(--fs-subheader);
  color: var(--secondary-clr);
}
.logo span {
  color: var(--accent);
}
.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin: 20px auto;
  padding: 40px;
  background-color: var(--accent);
  border-radius: 60px;
}
.display {
  background: var(--secondary-clr);
  color: var(--primary-clr);
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
}
.split-time {
  background: var(--secondary-clr-500);
  color: var(--primary-clr-500);
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0;
}
.buttons button {
  background: var(--primary-clr);
  color: var(--secondary-clr);
  padding: 10px;
  margin: 0 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: var(--fw-btn);
  box-shadow: 0px 1px 1px var(--secondary-clr);
}
.buttons button:hover {
  box-shadow: none;
}
.buttons button:nth-child(2) {
  color: var(--accent);
  font-size: var(--fs-btn);
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 50em) {
  .stopwatch {
    width: 30%;
    padding: 50px;
  }
}

/* Tic Tac Toes */

.wrapper {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
.wrapper hr {
  width: 450px;
  margin: auto;
}
#board {
  width: 450px;
  height: 450px;
  background: var(--accent-100);
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}
.score {
  width: 450px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.score h1 {
  color: var(--secondary-clr);
  margin-bottom: 10px;
}
.tile {
  width: 149px;
  height: 149px;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-clr);
  cursor: pointer;
}
.horizontal-line {
  border-bottom: 1px solid var(--secondary-clr);
}
.vertical-line {
  border-right: 1px solid var(--secondary-clr);
}
.winner {
  background: var(--accent);
  color: var(--secondary-clr);
}
.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  margin: 0 auto;
}
.btns button {
  padding: 5px 20px;
  border-radius: 100vmax;
  background: var(--accent);
  border: none;
  outline: none;
  font-size: var(--fs-btn);
  font-weight: var(--fw-btn);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.btns button:hover {
  background: var(--accent-900);
}
