/* custom styles */
:root {
  --fs-800: 60px;
  --fs-700: 30px;
  --fs-600: 20px;
  --fs-550: 18px;
  --fs-500: 15px;
  --fs-400: 12px;

  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  --ff-primary: "Poppins";
  --ff-secondary: "Roboto";

  --primary-clr: #000;
  --secondary-clr: #fff;
  --primary-clr-100: #00000000;
  --primary-clr-500: #00000080;
  --secondary-clr-500: #72707093;
  --accent: #ffd105;
  --accent-100: #ffd10549;
  --accent-900: #ffd105c0;

  --fs-header: var(--fs-800);
  --fs-subheader: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-btn: var(--fs-550s);
  --fs-body: var(--fs-500);

  --fw-header: var(--fw-800);
  --fw-subheader: var(--fw-700);
  --fw-nav: var(--fw-600);
  --fw-btn: var(--fw-500);
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--ff-primary), sans-serif;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-x: hidden;
  background: var(--primary-clr);
  color: var(--secondary-clr);
}

/* utility classes */

.col .btn {
  font-size: var(--fs-btn);
  font-weight: var(--fw-btn);
  background: transparent;
  padding: 1rem 1.75rem;
  line-height: 0;
  border: 0.125rem solid var(--primary-clr);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-clr);
}
#btn {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}
.hero-btn {
  border: 2px solid var(--secondary-clr);
  padding: 10px 40px;
  margin-bottom: 40px;
}

/* manual styling */
section {
  margin: 1rem 0;
  border-bottom: 1px solid var(--secondary-clr);
}
.container {
  padding: 0.5rem 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
}

/* header */

.header {
  height: 10%;
  width: 100%;
  background: var(--primary-clr);
  color: var(--secondary-clr);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.wrapper a {
  text-decoration: none;
  color: var(--secondary-clr);
}
.logo {
  width: 140px;
  font-size: var(--fs-subheader);
  color: var(--secondary-clr);
  text-decoration: none;
}
.logo span {
  color: var(--accent);
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* aside section */

.aside {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  background: var(--accent);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding-left: 0.75rem;
  transition: 0.8s ease-in-out;
}
.aside i {
  display: block;
  margin: 0.75rem 0 1.5rem;
  color: var(--primary-clr);
  cursor: pointer;
}
.aside .social-links {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}
.aside .social-links i {
  margin-right: 1.25rem;
  cursor: pointer;
}
.aside a {
  text-decoration: none;
  color: var(--primary-clr);
}

/* intro section */

.intro-section {
  height: 100vh;
  background: linear-gradient(var(--primary-clr), var(--secondary-clr-500));
  border-bottom: none;
}

.container.intro-container {
  border-bottom: none;
}

.my-projects {
  margin: 2rem 0;
  font-weight: var(--fw-subheader);
  border-bottom: 2px solid var(--accent);
}
.intro {
  height: 20rem;
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.intro {
  line-height: 1.5;
}
/* .intro {
  width: 90%;
  height: 300px;
  text-align: center;
} */
.intro-text span {
  color: var(--accent);
}

/* projects section */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background: var(--secondary-clr);
}
.col {
  flex-basis: 45%;
  color: var(--primary-clr);
  padding: 1rem;
}
.col img {
  opacity: 0;
  scale: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}
.col h2 {
  text-transform: uppercase;
}
.col p {
  margin-bottom: 0.5rem;
}
.col img {
  width: 100%;
  height: 18.75rem;
  margin: 1rem 0;
}
.fa-solid.fa-bars {
  z-index: 100;
  color: var(--secondary-clr);
}
.author {
  font-size: 12px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 30px;
}

/* footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}
.left-footer {
  flex-basis: 30%;
}

.middle-footer {
  flex-basis: 30%;
}
.middle-footer ul li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}
.middle-footer ul li a {
  text-decoration: none;
  color: var(--secondary-clr);
  cursor: pointer;
}

.right-footer {
  flex-basis: 30%;
}
.left-footer a {
  text-decoration: none;
}

@keyframes fade-in {
  to {
    opacity: 1;
    scale: 1;
  }
}

/* projects */

/* .p-header {
  background: var(--primary-clr);
  height: 100vh;
  width: 100vw;
  position: relative;
}
.project {
  margin-top: 100px;
  width: 100%;
  color: var(--secondary-clr);
}
.project img {
  width: 100%;
  display: block;
  border-radius: 20px;
  border: 1px solid var(--secondary-clr-500);
}
.row {
  display: flex;
  align-items: flex-start;
}
.project-col {
  flex-basis: 45%;
  margin-right: 20px;
}
.project-col .see-more-btn {
  color: var(--accent);
} */

@media screen and (max-width: 50em) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  .intro {
    /* padding: 40px 40px; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav-links .logo {
    color: var(--primary-clr);
  }
  .primary-links {
    background: var(--accent);
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -200px;
    z-index: 100;
    transition: ease-in-out 0.8s;
  }
  .p-header {
    color: var(--secondary-clr);
  }
  .row {
    flex-direction: column;
  }
  .col {
    margin: 1rem 0;
  }
  .intro {
    height: 100vh;
    width: 100%;
  }
  .intro h5 {
    line-height: auto;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .middle-footer ul li {
    padding-bottom: 5px;
  }
}

/* quiz app */

/* .quiz-container {
  width: 60%;
  margin: 0 auto;
  padding: 50px 40px;
}
.quiz-btn {
  padding: 10px 20px;
  border-radius: 100vmax;
  font-size: 18px;
  text-align: center;
  border: none;
  outline: none;
  margin: 10px 0;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.quiz-btn:not([disabled]):hover {
  background-color: #aaa;
}
.categories {
  display: flex;
  justify-content: space-between;
}
.category-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
