/* custom styles */
:root {
  --fs-800: 60px;
  --fs-700: 30px;
  --fs-600: 20px;
  --fs-550: 18px;
  --fs-500: 15px;
  --fs-400: 12px;

  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  --ff-primary: "Poppins";
  --ff-secondary: "Roboto";

  --primary-clr: #000;
  --secondary-clr: #fff;
  --primary-clr-100: #00000000;
  --primary-clr-500: #00000080;
  --secondary-clr-500: #ffffff93;
  --accent: #ffd105;
  --accent-100: #ffd10549;
  --accent-900: #ffd105c0;

  --fs-header: var(--fs-800);
  --fs-subheader: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-btn: var(--fs-550s);
  --fs-body: var(--fs-500);

  --fw-header: var(--fw-800);
  --fw-subheader: var(--fw-700);
  --fw-nav: var(--fw-600);
  --fw-btn: var(--fw-500);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", sans-serif;
}
body {
  height: 100vh;
}

/* utility classes */

.btn {
  font-size: var(--fs-btn);
  font-weight: var(--fw-btn);
  background: var(--accent);
  padding: 20px 20px;
  line-height: 0;
  border: none;
  outline: none;
  border-radius: 100vmax;
  cursor: pointer;
  transition: ease-in-out 0.8s;
}
.btn:hover {
  background: var(--accent-900);
}

/* manual styling */
#header {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/images/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 40px;
  position: relative;
}
.container a {
  text-decoration: none;
  color: var(--secondary-clr);
}
.logo {
  width: 140px;
  font-size: var(--fs-subheader);
}
.logo span {
  color: var(--accent);
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links ul li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.nav-links ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background: var(--accent);
  margin: auto;
  transition: ease-in-out 0.8s;
}
.nav-links ul li a:hover::after {
  width: 100%;
}
.intro {
  width: 60%;
  height: 300px;
  margin-top: 200px;
  color: var(--secondary-clr);
}
.intro-text span {
  color: var(--accent);
}

/* projects */

.p-header {
  background: var(--primary-clr);
  height: 100vh;
  width: 100vw;
  position: relative;
}
.project {
  margin-top: 100px;
  width: 100%;
  color: var(--secondary-clr);
}
.project img {
  width: 100%;
  display: block;
  border-radius: 20px;
  border: 1px solid var(--secondary-clr-500);
}
.row {
  display: flex;
  align-items: flex-start;
}
.project-col {
  flex-basis: 45%;
  margin-right: 20px;
}
.project-col .see-more-btn {
  color: var(--accent);
}
.close,
.menu {
  display: none;
}

@media screen and (max-width: 50em) {
  body {
    background: var(--secondary-clr);
    overflow-x: hidden;
  }
  #header {
    width: 100%;
    height: 100%;
    background-image: none;
    position: relative;
  }
  .intro {
    position: absolute;
    top: -10%;
    left: 0;
    padding: auto 40px;
    width: 100%;
    background-image: url(assets/images/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .intro .wrap {
    width: 50%;
    margin-left: 40px;
  }
  .intro .wrap h1 {
    font-size: var(--fs-subheader);
    margin: 10px 0;
  }
  .intro .wrap p {
    margin: 5px 0;
  }
  .nav-links ul li a {
    color: var(--primary-clr);
  }
  .nav-links .logo {
    color: var(--primary-clr);
  }
  .nav-links ul {
    background: var(--accent);
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -200px;
    z-index: 100;
    transition: ease-in-out 0.8s;
  }
  .nav-links ul li {
    display: block;
    margin: 20px 0 40px 20px;
    cursor: pointer;
  }
  .btn {
    margin-top: 500px;
  }

  .p-header {
    color: var(--secondary-clr);
  }
  .close,
  .menu {
    display: block;
    cursor: pointer;
  }
}
